In [1]:
import talib

In [2]:
import "C:\Users\PC\Downloads\ta_lib-0.6.3-cp312-cp312-win_amd64.whl"

SyntaxError: invalid syntax (3070738186.py, line 1)

In [3]:
cd "C:\\Users\\PC\\Downloads\\ta_lib-0.6.3-cp312-cp312-win_amd64.whl"

[WinError 267] 目錄名稱無效。: 'C:\\\\Users\\\\PC\\\\Downloads\\\\ta_lib-0.6.3-cp312-cp312-win_amd64.whl'
C:\Users\PC

In [4]:
cd "C:\Users\PC\Downloads\ta_lib-0.6.3-cp312-cp312-win_amd64.whl"

[WinError 267] 目錄名稱無效。: 'C:\\Users\\PC\\Downloads\\ta_lib-0.6.3-cp312-cp312-win_amd64.whl'
C:\Users\PC

In [5]:
cd "C:\Users\PC\Downloads\ta_lib-0.6.3-cp312-cp312-win_amd64.whl"

[WinError 267] 目錄名稱無效。: 'C:\\Users\\PC\\Downloads\\ta_lib-0.6.3-cp312-cp312-win_amd64.whl'
C:\Users\PC

In [6]:
!pip install "C:\Users\PC\Downloads\ta_lib-0.6.3-cp312-cp312-win_amd64.whl"

Processing c:\users\pc\downloads\ta_lib-0.6.3-cp312-cp312-win_amd64.whl
Requirement already satisfied: setuptools in c:\users\pc\anaconda3\lib\site-packages (from ta-lib==0.6.3) (75.1.0)
Requirement already satisfied: numpy in c:\users\pc\anaconda3\lib\site-packages (from ta-lib==0.6.3) (1.26.4)
ta-lib is already installed with the same version as the provided wheel. Use --force-reinstall to force an installation of the wheel.

In [7]:
import sys
print (sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [8]:
import yfinance as yf
df = yf.download("2330.TW)

SyntaxError: unterminated string literal (detected at line 2) (2078774178.py, line 2)

In [9]:
import yfinance as yf
df = yf.download("2330.TW")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [10]:
df

Price            Close        High         Low        Open        Volume
Ticker         2330.TW     2330.TW     2330.TW     2330.TW       2330.TW
Date
2000-01-04   34.058220   34.058220   33.484209   34.058220  200662336736
2000-01-05   34.823505   34.823505   33.675484   34.058219  402466805912
2000-01-06   34.058220   34.823506   34.058220   34.632230  197545715802
2000-01-07   33.101467   33.484202   32.527457   32.910191  235270344752
2000-01-10   34.249493   34.440769   33.484206   34.058217  276171685539
...                ...         ...         ...         ...           ...
2025-04-18  850.000000  858.000000  850.000000  853.000000      20101219
2025-04-21  835.000000  847.000000  832.000000  844.000000      18415705
2025-04-22  816.000000  829.000000  816.000000  826.000000      28888527
2025-04-23  873.000000  873.000000  848.000000  853.000000      37863656
2025-04-24  868.000000  886.000000  866.000000  886.000000      23114250

[6298 rows x 5 columns]

In [11]:
import numpy as np
Close = df["Close"]["2330.TW].to_numpy()

RSI = talib.RSI(Close, timeperiod=14)

SyntaxError: unterminated string literal (detected at line 2) (3283237755.py, line 2)

In [12]:
import numpy as np
Close = df["Close"]["2330.TW"].to_numpy()

RSI = talib.RSI(Close, timeperiod=14)

In [13]:
no = len(df)

In [14]:
buy_list =[]
sell_list = []
for i in range(0,no):
    buy = 0
    sell = 0
    if RSI[i]>70:
        sell=1
    if RSI[i]<30:
        buy=1
    buy_list.append(buy)
    sell_list.append(sell)

In [15]:
import pandas as pd
RSI_df = pd.DataFrame(RSI, columns=["RSI"], index=df.index)

In [16]:
buy_df = pd.DataFrame(buy_list, columns=["Buy_Signal_RSI"], index=df.index)

In [17]:
sell_df = pd.DataFrame(sell_list, columns=["Sell_Signal_RSI"], index=df.index)

In [18]:
df_merged = pd.concat([df, RSI_df, buy_df, sell_df], axis=1, join="inner")

In [19]:
df_merged

,"(Close, 2330.TW)","(High, 2330.TW)","(Low, 2330.TW)","(Open, 2330.TW)","(Volume, 2330.TW)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2000-01-04,34.058220,34.058220,33.484209,34.058220,200662336736,NaN,0,0
2000-01-05,34.823505,34.823505,33.675484,34.058219,402466805912,NaN,0,0
2000-01-06,34.058220,34.823506,34.058220,34.632230,197545715802,NaN,0,0
2000-01-07,33.101467,33.484202,32.527457,32.910191,235270344752,NaN,0,0
2000-01-10,34.249493,34.440769,33.484206,34.058217,276171685539,NaN,0,0
...,...,...,...,...,...,...,...,...
2025-04-18,850.000000,858.000000,850.000000,853.000000,20101219,39.036015,0,0
2025-04-21,835.000000,847.000000,832.000000,844.000000,18415705,37.159373,0,0
2025-04-22,816.000000,829.000000,816.000000,826.000000,28888527,34.872480,0,0
2025-04-23,873.000000,873.000000,848.000000,853.000000,37863656,45.674130,0,0
2025-04-24,868.000000,886.000000,866.000000,886.000000,23114250,44.969560,0,0

In [20]:
df_merged[(df_merged.index >= "2024-01-01") & (df_merged.index <= "2024-12-31")]

,"(Close, 2330.TW)","(High, 2330.TW)","(Low, 2330.TW)","(Open, 2330.TW)","(Volume, 2330.TW)",RSI,Buy_Signal_RSI,Sell_Signal_RSI
Date,,,,,,,,
2024-01-02,582.645325,582.645325,578.715171,579.697709,26059058,67.331754,0,0
2024-01-03,567.907227,574.784996,565.942150,573.802457,37106763,49.044580,0,0
2024-01-04,569.872314,570.854853,566.924699,569.872314,15309129,50.957194,0,0
2024-01-05,565.942200,569.872354,563.977123,567.907277,18158971,47.145768,0,0
2024-01-08,572.819946,574.785023,568.889792,571.837408,17761275,53.675803,0,0
...,...,...,...,...,...,...,...,...
2024-12-25,1079.966431,1084.943234,1074.989627,1084.943234,15481622,56.818608,0,0
2024-12-26,1079.966431,1084.943234,1079.966431,1079.966431,14374900,56.818608,0,0
2024-12-27,1084.943237,1089.920041,1074.989630,1074.989630,24948385,57.968851,0,0
2024-12-30,1084.943237,1089.920041,1079.966433,1084.943237,23954634,57.968851,0,0
2024-12-31,1070.012817,1079.966425,1070.012817,1074.989621,28397820,53.052020,0,0

In [21]:
df_merged[
    (df_merged.index >= "2024-01-01") &
    (df_merged.index <= "2024-12-31") &
    (df_merged["Buy_Signal_RSI"] == 1)
]

Empty DataFrame
Columns: [(Close, 2330.TW), (High, 2330.TW), (Low, 2330.TW), (Open, 2330.TW), (Volume, 2330.TW), RSI, Buy_Signal_RSI, Sell_Signal_RSI]
Index: []

In [21]:
df_merged[
    (df_merged.index >= "2024-01-01") &
    (df_merged.index <= "2024-12-31") &
    (df_merged["Buy_Signal_RSI"] == 1)
]

Empty DataFrame
Columns: [(Close, 2330.TW), (High, 2330.TW), (Low, 2330.TW), (Open, 2330.TW), (Volume, 2330.TW), RSI, Buy_Signal_RSI, Sell_Signal_RSI]
Index: []

In [22]:
print("2024 年內買進訊號：")
print(buy_signals_2024)

print("2024 年內賣出訊號：")
print(sell_signals_2024)

2024 年內買進訊號：

NameError: name 'buy_signals_2024' is not defined

In [23]:
df_2024 = df_merged[
    (df_merged.index >= "2024-01-01") &
    (df_merged.index <= "2024-12-31")
]

buy_signals_2024 = df_2024[df_2024["Buy_Signal_RSI"] == 1]

sell_signals_2024 = df_2024[df_2024["Sell_Signal_RSI"] == 1]

print("2024 年內買進訊號：")
print(buy_signals_2024)

print("2024 年內賣出訊號：")
print(sell_signals_2024)

2024 年內買進訊號：
Empty DataFrame
Columns: [(Close, 2330.TW), (High, 2330.TW), (Low, 2330.TW), (Open, 2330.TW), (Volume, 2330.TW), RSI, Buy_Signal_RSI, Sell_Signal_RSI]
Index: []
2024 年內賣出訊號：
            (Close, 2330.TW)  (High, 2330.TW)  (Low, 2330.TW)  \
Date
2024-01-19        615.069092       616.051630      603.278630
2024-01-22        615.069092       621.946861      612.121476
2024-01-23        617.034119       618.016657      611.138888
2024-01-24        616.051636       618.999251      613.104020
2024-01-25        630.789673       630.789673      621.946827
2024-01-26        632.754761       634.719838      627.842069
2024-01-29        636.684937       636.684937      632.754783
2024-01-30        630.789673       635.702365      630.789673
2024-02-05        634.719849       635.702387      626.859541
2024-02-15        684.829285       696.619746      680.899131
2024-02-16        671.073792       686.794407      671.073792
2024-02-19        666.161072       670.091226      662.230918
2024-02-20        675.003906       675.986445      663.213445
2024-02-22        679.916626       682.864241      673.038857
2024-02-23        684.829285       690.724515      683.846746
2024-02-26        685.811890       687.776967      682.864274
2024-02-27        685.811890       688.759505      678.934120
2024-03-04        712.340393       712.340393      698.584854
2024-03-05        717.253113       725.113421      715.288036
2024-03-06        722.165833       725.113448      704.480139
2024-03-07        746.729187       755.572033      740.833957
2024-03-08        770.310120       782.100581      758.519659
2024-03-11        752.624512       764.414974      747.711819
2024-03-12        756.554626       757.537165      740.834011
2024-03-13        765.397461       771.292692      763.432384
2024-03-14        770.310120       771.292658      756.554582
2024-04-09        808.456604       809.443731      781.804188
2024-04-11        809.443726       809.443726      800.559587
2024-05-22        852.877258       853.864385      832.147603
2024-05-23        863.735657       865.709910      855.838645
2024-06-14        913.648254       913.648254      896.802245
2024-06-18        934.458069       941.394661      931.485244
2024-06-19        972.113831       975.086656      944.367462
2024-06-20        972.113831       972.113831      962.204413
2024-06-21        961.213501       969.141035      951.304083
2024-07-04        995.896423      1000.851132      987.968890
2024-07-05        995.896423      1000.851132      990.941715
2024-07-08       1025.624634      1040.488759      990.941675
2024-07-09       1030.579468      1045.443595     1015.715341
2024-07-10       1035.534180      1040.488889     1005.805926
2024-07-11       1070.217041      1070.217041     1045.443498
2024-10-15       1065.036011      1070.012815     1045.128796

            (Open, 2330.TW)  (Volume, 2330.TW)        RSI  Buy_Signal_RSI  \
Date
2024-01-19       614.086553          161106401  75.828709               0
2024-01-22       621.946861           65168775  75.828709               0
2024-01-23       618.016657           41072439  76.461742               0
2024-01-24       617.034174           26635005  75.398504               0
2024-01-25       623.911904           52243347  79.911230               0
2024-01-26       632.754761           41153025  80.426775               0
2024-01-29       634.719860           27825490  81.452014               0
2024-01-30       630.789673           36161825  75.097748               0
2024-02-05       633.737310           44017740  70.370837               0
2024-02-15       696.619746          112945296  81.927450               0
2024-02-16       684.829330           44232811  73.457363               0
2024-02-19       662.230918           34408673  70.648119               0
2024-02-20       663.213445           30166461  72.673872               0
2024-02-22       682.864241           33145643  71.865356               0
2024-02-23       688.759438           46448923  72.992569               0
2024-02-26       687.776967           28798079  73.223649               0
2024-02-27       687.776967           33006829  73.223649               0
2024-03-04       701.532470           88861397  76.213606               0
2024-03-05       722.165805           64403889  77.154623               0
2024-03-06       705.462677           43687122  78.088163               0
2024-03-07       741.816495           71817344  82.039939               0
2024-03-08       781.118042           87139744  84.862404               0
2024-03-11       754.589589           64759810  75.304057               0
2024-03-12       743.781626           58110339  75.952261               0
2024-03-13       771.292692           36754557  77.390241               0
2024-03-14       765.397428           42010806  78.171183               0
2024-04-09       784.765568           56857731  70.929196               0
2024-04-11       800.559587           25200651  70.115826               0
2024-05-22       834.121856           36628342  70.676463               0
2024-05-23       863.735657           37266618  72.871258               0
2024-06-14       907.702604           38408123  70.281620               0
2024-06-18       935.449011           37876013  73.557058               0
2024-06-19       944.367462           72228052  78.462265               0
2024-06-20       962.204413           48225374  78.462265               0
2024-06-21       952.295025           88376132  73.862365               0
2024-07-04       990.941715           41893299  73.280165               0
2024-07-05       995.896423           19998094  73.280165               0
2024-07-08       995.896384           40146763  77.566809               0
2024-07-09      1020.670050           46373121  78.194709               0
2024-07-10      1010.760635           46206302  78.832734               0
2024-07-11      1055.352915           41724336  82.657965               0
2024-10-15      1045.128796           42850176  71.252041               0

            Sell_Signal_RSI
Date
2024-01-19                1
2024-01-22                1
2024-01-23                1
2024-01-24                1
2024-01-25                1
2024-01-26                1
2024-01-29                1
2024-01-30                1
2024-02-05                1
2024-02-15                1
2024-02-16                1
2024-02-19                1
2024-02-20                1
2024-02-22                1
2024-02-23                1
2024-02-26                1
2024-02-27                1
2024-03-04                1
2024-03-05                1
2024-03-06                1
2024-03-07                1
2024-03-08                1
2024-03-11                1
2024-03-12                1
2024-03-13                1
2024-03-14                1
2024-04-09                1
2024-04-11                1
2024-05-22                1
2024-05-23                1
2024-06-14                1
2024-06-18                1
2024-06-19                1
2024-06-20                1
2024-06-21                1
2024-07-04                1
2024-07-05                1
2024-07-08                1
2024-07-09                1
2024-07-10                1
2024-07-11                1
2024-10-15                1